@import 'core/reset';

.app{
  background-color: black;
}

.title{
  width: 100vw;
  height: 40vh;
  object-fit: contain;
}

.contain{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters{
  width: 42vw;
  height: 12vh;
  border: 1px solid #05afc6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter_name{
  color: white;
  margin-right: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.label_name{
  margin-right: 12px;
}

.input_name{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  border: 1px solid #05afc6;
  padding: 6px;
  border-radius: 8px;
}

.list_character{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  
}

.character{
  color: white;
  margin: 50px;
  padding: 15px;
  background-color: #05afc6;
  text-align: center;
}

.name{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
  margin: 8px;
}

.image{
  height: 180px;
  margin: 8px;
}